#nav{
  text-decoration: none;
  list-style-type: none;
  background-color: navy;
  position: fixed;
  font-size: 20px;
  height: 60px;
  width: 100%;
  opacity: 0.6;
  padding: 15px;
  margin-bottom: 30px;
}

#nav li, #nav a{
  display: inline-flex;
  padding-right: 15px;
  color: white;
}

.alexa-box{
  padding: 20px;
  padding-top: 40px;
  text-transform: lowercase;
  color: navy;
  font-family: sans-serif;
  font-size: 50px;
  text-align: left;
  position: fixed;
}
.brandstatement {
  text-transform: none;
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
  color: navy;
  background-color: lightgrey;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.about p{
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
  color: navy;
  background-color: lightgrey;
  margin-top: 50px;
  height: 600px;
  width: 50%;
  float: left;
  text-align: center;
}

#aboutlexi a{
  text-decoration: none;
  color: navy;
}

ul {
  list-style: none;
  display: inline-block;
}

.logos li{
  display: inline;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 20px;
  height: 80px;
  width: 130px;
}
.container {
  background-position: center;
  background-color: lightgrey;
  background-size: contain;
  color: white;
  width: 100%;
  padding-bottom: 0px;
}

.top-photo{
  background-image: url("https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/13001327_10200349646523578_4027351287086075701_n.jpg?oh=b5952d4e268818be84752bb06065597d&oe=57AFFE82");
  margin: auto;
  height: 700px;
  width: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;

}

.yogaphoto{
  background-image: url("https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/734169_3086157472714_1491420326_n.jpg?oh=1891fbe9fd4f2711523adebe99acaf5b&oe=57A0A85C");
  margin: auto;
  margin-top: 50px;
  height: 600px;
  width: 50%;
  float: right;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#alexaklein{
  padding-top: 15px;
}

.contact h3{
  text-align: center;
  color: navy;
  font-size: 20px;
  font-weight: normal;
}
