.nav-wrapper{
  text-decoration: none;
  list-style-type: none;
  background-color: navy;
  position: fixed;
  font-size: 20px;
  padding: 40px;
  height: 40px;
  width: 100%;
  opacity: 0.6;
  display: inline-flex;
}

#home {
  background-color: darkgrey;
  background-size: contain;
}

.nav-item {
  padding: 15px;
  color: white;
}

.alexa-box{
  padding-top: 60px;
  text-transform: lowercase;
  color: navy;
  font-family: 'Give You Glory', cursive;
  text-align: center;
}

#alexaklein{
  font-size: 150px;
}
#brandstatement {
  text-align: center;
  padding: 80px;
  font-family: 'neucha', sans-serif;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: maroon;
}

.brandstatement{
  width: 70%;
  line-height: 1.5;
  font-size: 28px;
}


#aboutlexi {
  text-decoration: none;
  color: navy;
  padding: 80px;
  margin-right: 40px;
  padding-top: 40px;
  font-family: 'neucha', sans-serif;
  font-size: 22px;
  line-height: 1.5;

}

ul {
  list-style: none;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logos li{
  display: inline;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 20px;
  height: 80px;
  width: 130px;
}
.container {
  background-position: center;
  background-size: cover;
  color: white;
  width: 100%;
  padding-bottom: 80px;
}

/*.top-photo{
  background-image: url("https://lh3.googleusercontent.com/7hWzUtJ6laTv4o1cve-8srntZRejReeMOWmLkZJSjS_4uf6WsRa_GTk6phLEKekrN4otzMF5lpWlQi0pB3P_FPMYknZhx6cfmkBO0aOczRIbQfpi_h9LtZFDqAeuhZ7d8mbdVMznfVQ3b7jZwBBW2c_ezniIKr9XWKj4JcVt2YlNiR6w9kPYdMiJf57ZJyFm3pRkSBlq2Z-KMXM301OyXAYbe4bC7BTnGg6hwb5a9A9VowNPPMKf3GqP6SMs_7ouXRClvksnIVRo6DbDTV9fgy7-saybXhm_LqBg9XjbGXid82qzdnZlxGxWVB7MrEVYusIb-j_SuKD3RqUx3i6pvWZUAQ6vrAEwdbYYV-FxoxEkDRJEm0QRbnMfgba_w2qprCaQ9KpDwfcvX9JNtyqL4JaSkTNTGLs8AGTKBn7DHDuJfOEyawkYDb5moSPT-wDB3Qjbb4N2VEXd4XJM4-FITD290eotWUdRdYUQ5CR_votDMfY1D5WGW6P2wxR_wqCT0sIj2w33pR8NYU98mq3hKEV3uhDw4bDmxDyhn4mkkiRxdf0xkPqfGUcfYzA04T2HRL0JJ0xL5HNzlM3BVQTLWfSpW47DIyA=w567-h718-no");
  margin: auto;
  height: 1300px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;

}*/

.smilephoto{
  margin: 5%;
  border-radius: 50%;
  float: right;
  background-size: cover;
  display:inline-flex;

}
.background {
  background-color: darkgrey;
  background-size: cover;
  padding-bottom: 25px;
}
#alexaklein{
  padding-top: 15px;
  padding-bottom: 0;
}
#alexatitle {
  text-align: center;
  color: maroon;
  font-family: 'Give You Glory';
  padding-top: 0px;
  padding-bottom: 80px;
}
.contact h3{
  text-align: center;
  color: navy;
  font-size: 20px;
  font-weight: normal;
}
.projectdescription{
  text-align: center;
  padding: 8px;
  font-size: 30px;
  margin-top: 10px;
  color: navy;
  font-family: 'Give You Glory';
}

.projects img{
  margin-left: 25%;
  margin-right: 25%;
  outline-style: solid;
  outline-color: navy;
  outline-width: thin;
  margin-top: 30px;
  margin-bottom: 30px;
}
