#nav{
  text-decoration: none;
  list-style-type: none;
  background-color: navy;
  position: fixed;
  font-size: 20px;
  height: 60px;
  width: 100%;
  opacity: 0.6;
  padding: 15px;
  margin-bottom: 30px;
}

#nav li, #nav a{
  display: inline-flex;
  padding-right: 15px;
  color: white;
}

.alexa-box{
  padding: 20px;
  padding-top: 40px;
  text-transform: lowercase;
  color: navy;
  font-family: sans-serif;
  font-size: 50px;
  text-align: left;
  position: fixed;
}
.brandstatement {
  text-transform: none;
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
  color: navy;
  background-color: lightgrey;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.about p{
  text-align: center;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
  color: navy;
  background-color: lightgrey;
  margin-top: 50px;
  height: 550px;
  width: 50%;
  float: left;
  text-align: center;
}

#aboutlexi a{
  text-decoration: none;
  color: navy;
}

ul {
  list-style: none;
  display: inline-block;
}

.logos li{
  display: inline;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 20px;
  height: 80px;
  width: 130px;
}
.container {
  background-position: center;
  background-color: lightgrey;
  background-size: contain;
  color: white;
  width: 100%;
  padding-bottom: 0px;
}

.top-photo{
  background-image: url("https://lh3.googleusercontent.com/7hWzUtJ6laTv4o1cve-8srntZRejReeMOWmLkZJSjS_4uf6WsRa_GTk6phLEKekrN4otzMF5lpWlQi0pB3P_FPMYknZhx6cfmkBO0aOczRIbQfpi_h9LtZFDqAeuhZ7d8mbdVMznfVQ3b7jZwBBW2c_ezniIKr9XWKj4JcVt2YlNiR6w9kPYdMiJf57ZJyFm3pRkSBlq2Z-KMXM301OyXAYbe4bC7BTnGg6hwb5a9A9VowNPPMKf3GqP6SMs_7ouXRClvksnIVRo6DbDTV9fgy7-saybXhm_LqBg9XjbGXid82qzdnZlxGxWVB7MrEVYusIb-j_SuKD3RqUx3i6pvWZUAQ6vrAEwdbYYV-FxoxEkDRJEm0QRbnMfgba_w2qprCaQ9KpDwfcvX9JNtyqL4JaSkTNTGLs8AGTKBn7DHDuJfOEyawkYDb5moSPT-wDB3Qjbb4N2VEXd4XJM4-FITD290eotWUdRdYUQ5CR_votDMfY1D5WGW6P2wxR_wqCT0sIj2w33pR8NYU98mq3hKEV3uhDw4bDmxDyhn4mkkiRxdf0xkPqfGUcfYzA04T2HRL0JJ0xL5HNzlM3BVQTLWfSpW47DIyA=w567-h718-no"); 
  margin: auto;
  height: 700px;
  width: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;

}

.smilephoto{
  background-image: url("https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/734169_3086157472714_1491420326_n.jpg?oh=1891fbe9fd4f2711523adebe99acaf5b&oe=57A0A85C");
  margin: auto;
  margin-top: 50px;
  height: 550px;
  width: 50%;
  float: right;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#alexaklein{
  padding-top: 15px;
}

.contact h3{
  text-align: center;
  color: navy;
  font-size: 20px;
  font-weight: normal;
}
